// customize some Bootstrap variables
$body-bg: #000415;
$primary: #150093;
$secondary: #d5a4e0;
$paragraph-color: #ffc994;
$nav-color: #FFD89D;
$h1-color: #4c1d0c;
$h2-color: #00b446;

.navtitle {
  font-family: KoHo;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: $nav-color;
}

.nav-link {
  font-family: KoHo;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: $nav-color;
}

h1 {
  color: $h1-color;
}

h2 {
  color: $h2-color;
}

p,
label {
  color: $paragraph-color;
}

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
